# Linux packaging artifacts
*.pkg.tar.zst
pkg/
src/

# testing artifacts
/tests/test_helper/

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.swp
*.swo

# Debug and result logs
debug_menu_site.log
debug_demo_site_menu.log
err.txt
result.txt
