[Desktop Entry]
Type=Application
Name=rofi-passx
Comment=Password manager Rofi launcher
Exec=rofi-passx launch
Icon=dialog-password
Terminal=false
Categories=Utility;Security; 